/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/


headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
  background-color: #16161d;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #16161d;
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
}

tabbar tabbox tab {
  margin: 0;
  padding: 4px 6px;
  color: #727169;
  border-right: none;
  transition: color 150ms ease-in-out;
}

tabbar tabbox tab:hover {
  color: #c8c093;
}

tabbar tabbox tab:selected {
  background-color: #1f1f28;
  color: #dcd7ba;
  border-bottom: 2px solid #7e9cd8;
}

tabbar tabbox tab label {
  font-size: 15px;
}
